
# Keep directory structure, ignore contents
data/**
models/**
configs/**
tests/**

# Keep data clone/download script
!data/sync_data.py

# Keep placeholder files
!models/.gitkeep
!configs/.gitkeep
!tests/.gitkeep
!tests/**/*.py

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

# Built Python distributions
/build/
/dist/
